<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>NYT News App</title>
		<script src="https://code.jquery.com/jquery.js"></script>
        
        {{!-- connect js file  --}}
		<script src="JS FILE HERE"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
